%h2.text-center Nouvelle question du jour
= @daily_question.errors.full_messages.to_sentence if @daily_question.errors.any?
= form_for @daily_question, url: {action: "create"} do |f|
  = render partial: 'form', locals: { f: f }
