= link_to admin_daily_questions_path do
  %span.glyphicon.glyphicon-circle-arrow-left.lead
%table.table.tabl.titletriped
  %thead
    %tr.info
      %th Question numéro
      %th Nombre de fois répondu
      %th Programmée le
      %tr
        %td= @daily_question.question_id
        %td= @daily_question.answer_counter
        %td= @daily_question.scheduled_at
