body {
   padding-top: 10rem;
   font-family: 'Roboto', sans-serif;
 }

#error_explanation {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
 }

 #form_errors_explanations {
   color: #a94442;
   background-color: #f2dede;
   border-color: #ebccd1;
  }

.navbar-fixed-top {
 padding-left: 1.875rem;
 padding-top: 1.875rem;
 }

a.navbar-left {
  margin-left: 10rem;
  }

.logo {
  color: #a52a2a;
  font-size: 24px;
  font-weight: bold;
  }

.btn.btn-primary {
   margin-top: 1rem;
   margin-bottom: 0.5rem;
 }

.profile-padding {
   padding-bottom: 0.5rem;
 }

 .unmark {
   color: #ff0000;
 }

 mark {
   color: #008000;
   background-color: #ffffff;
 }

 .glyphicon-plus {
   padding-left: 10px;
   font-size: 20px;
 }

 .glyphicon-off {
   font-size: 25px;
   color: #8b0000;
 }

 .title {
   font-size: 2rem;
   padding-bottom: 1rem;
   font-weight: bold;
 }

.table {
  white-space: nowrap;
}
.flexbox .col-lg-12{
    padding-left: 0;
    padding-right:0;
    }
